<!DOCTYPE html>
<html lang="en">
  <head>
    <% @title="tamchiak | Bill for #{@channel.cname}" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header_current' %>

    <!-- CONTENT -->

    <div class="container">
      <h1>
        Bill for <strong><%= current_channel.cname %></strong>
        <div class="pull-right">
          <%= link_to "Back to Channel", current_channel_path, {class: "btn btn-default", data: { no_turbolink: true }} %>
          <% if current_channel.user_id == current_user.id %>
          <%= link_to "Send Bill", send_bill_path, {class: "btn btn-primary", data: { no_turbolink: true }} %>
          <% end %>
          </h1>
        <p></p>

        <% @bills.each do |t| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong><%= t.user.name %></strong> ordered <abbr title="attribute"><%= number_to_currency(@bills.sum(:total_price)[t.user_id] + (@channel.delivery / @orders.count(t.user_id, :distinct => true))) %></abbr> worth of food</h3>  </div>
          <div class="panel-body">

            <table class="table">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Item Code</th>
                  <th>Name</th>
                  <th>Remarks</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody> 
                <% @orders.where(user_id: t.user_id).find_each do |s| %>

                <p>
                  <tr>
                    <td><%= s.cat %></td>
                    <td><%= s.item_code %></td>
                    <td><%= s.meal %></td>
                    <td><%= s.subcat %></td>
                    <td><%= s.quantity %></td>
                    <td><%= number_to_currency(s.total_price) %></td>
                  </tr>
                </p>
                <% end %>

            </table>
            </tbody>
        </div>
        </div>

      <% end %>
    </div>
  </body>