<!DOCTYPE html>
<html lang="en">
  <head>
    <% @title="tamchiak | Your channels" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/stylesheets/bootstrap.min.css">
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header_channels' %>

    <!-- CONTENT -->

    <div class="container">

      <h1>
        Channels created by <strong><%= @user.name %></strong>
      </h1>
      <p></p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Channel Name</th>
              <th>Menu</th>
              <th>Channel Status</th>
              <th>Date created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @channel_owner.each do |t| %>
            <p>
              <tr>
                <td class="col-md-6"><%= t.cname %></td>
                <td><%= t.menu %></td>
                <td><%= t.channel_status %></td>
                <td><%= t.created_at.strftime("%d %b %Y") %></td>
                <td><%= form_for(:session, url: join_channel_path) do |f| %>
                  <%= f.hidden_field :cname, :value => t.cname %>
                  <%= f.submit  "Enter", {class: "btn btn-primary btn-sm"} %>
                  <% end %></td>

              </tr>
            </p>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>