<!DOCTYPE html>
<html lang="en">
<head>
  <title>Channels you have created</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/stylesheets/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Your Channels</h1>
    <%= link_to "Home", join_or_create_path %>

    <p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Channel Name</th>
          <th>Menu</th>
          <th>Channel Status</th>
        </tr>
      </thead>
      <tbody>
        <% @channel_owner.each do |t| %>
        <p>
          <tr>
            <td><%= form_for(:session, url: join_channel_path) do |f| %>
            <%= f.hidden_field :cname, :value => t.cname %>
              <%= f.submit  "#{t.cname}", type: 'submit', class: "btn btn-link" %>
             <% end %></td>
            <td><%= t.menu %></td>
            <td><%= t.channel_status %></td>
 
          </tr>
        </p>
        <% end %>
      </tbody>
    </table>
  </div>
</body>