<% @title="tamchiak | Join Channel" %>

<body>
  <!-- NAVIGATION BAR -->
  <%= render 'layouts/header_current' %>

  <!-- CONTENT -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">

      <h1>Join a channel</h1>
      <div class="panel panel-default">

        <div class="panel-body">

          <%= form_for(:session, url: join_channel_path) do |f| %>
          <%= f.label "Enter a channel name:" %>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
            <%= f.text_field :cname, class:'form-control' %>
          </div>
          <p></p>
          <%= f.submit  "Join channel", type: 'submit', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>