<div class= "well" >
  <div class= "row">
    <div class="col-xs-8">
      <h4><%= menu_item.name %></h4>
    </div>
    <div class="col-xs-8">
      <%= form_for (order), remote: true do |f| %>
      <div class="col-xs-8">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.hidden_field :menu_item_id, :value => menu_item.id %> 
        <%= f.hidden_field :cat, :value => menu_item.cat %>
        <%= f.hidden_field :subcat, :value => menu_item.subcat %>
        <%= f.hidden_field :item_code, :value => menu_item.item_code %>
        <%= f.hidden_field :meal, :value => menu_item.name %>
        <%= f.hidden_field :unit_price, :value => menu_item.price %>
      </div>

      <div class="col-xs-8 text-right">
        <%= f.submit "Order", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>