<% @title="tamchiak | Collated orders for #{current_channel.cname}" %>

<body>
  <!-- NAVIGATION BAR -->
  <%= render 'layouts/header_current' %>

  <!-- CONTENT -->
  <% if @channel.channel_status == "Closed" %>
  <div class="alert alert-danger" role="alert">This channel is closed. You can still view the collated order and bill pages.</div>
  <% end %>

  <div class="container">
    <div class="row">
      <h1>
        <strong><%= current_channel.cname %></strong> <small>Collated</small>
        <div class="pull-right">

          <% if @channel.channel_status == "Open" %>
          <%= link_to "Back to Channel", current_channel_path, {class: "btn btn-default", data: { no_turbolink: true }} %>
          <% end %>

          <%= link_to "Check Bill", bill_path, {class: "btn btn-default", data: { no_turbolink: true }} %>

          <% if (current_channel.user_id == current_user.id || current_user.is_admin) && @channel.channel_status == "Open" %>
          <%= link_to "Close Channel", @channel, :method => :get, :class => "btn btn-danger" %>
          <% else if (current_channel.user_id == current_user.id || current_user.is_admin) && @channel.channel_status == "Closed" %>
          <%= link_to "Open Channel", @channel, :method => :get, :class => "btn btn-success" %>
          <% end %><% end %>
        </div>
      </h1>
    </div>

    <% if @orders_in_channel.size == 0 %>
    <div class="well">
      You have no orders in your channel.
    </div>
    <% else %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item Code</th>
            <th>Name</th>
            <th>Remarks</th>            
            <th>Quantity</th>
          </tr>        
        </thead>
        <tbody>

          <% @specific_orders.find_each do |s| %>
          <p>
            <tr>
              <td><%= s.cat %></td>
              <td><%= s.item_code %></td>
              <td class="col-md-6"><%= s.meal %></td>
              <td><%= s.subcat %></td>              
              <td><%= @orders_in_channel.where(subcat: s.subcat, meal: s.meal).sum(:quantity) %></td>
            </tr>
          </p>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <% end %>
      <div class="pull-right" align="right">
        <h4><small><%= render 'layouts/channel_text' %> | Delivery: <%= number_to_currency(@channel.delivery) %></small></h4>
        <h3>Total: <%= number_to_currency(@orders_in_channel.sum(:total_price) + @channel.delivery) %></h3>
      </div>
    </div>

  </div>
</body>
