<% provide(:title, 'Add new item') %> 

<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <h1>Add new item</h1>
    <%= form_for(@order) do |f| %>

    <%= f.label :meal %>
    <%= f.text_field :meal, class: 'form-control' %>

    <%= f.submit "Submit Order", class: "btn btn-primary" %>

    <% if joined_channel? %>
    <%= link_to "Quit Channel", exit_path %>
    <% end %>
    <% end %>
  </div>
</div>