<% @title="tamchiak | Order" %>


<body>
  <!-- NAVIGATION BAR -->
  <%= render 'layouts/header_current' %>

  <!-- CONTENT -->
  <div class="container">

    <div class="row">
      <!-- MENU -->
      <div class="col-md-10">
        <h1>
          Al Amaan's Menu
          <div class="pull-right">
            <%= link_to "Back to Channel", current_channel_path, {class: "btn btn-default", data: { no_turbolink: true }} %>
          </div>
        </h1>

        <% @menu_items.find_each do |s| %>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title"><%= s.cat %></h3>
          </div>
          <ul class="list-group">

            <div class="panel-body">
              <% MenuItem.where(cat: s.cat).select(:subcat).group(:subcat).find_each do |w| %>
              <li class="list-group-item">
                <h2><small><strong><%= w.subcat %></strong></small></h2>
                <div class="table-responsive">
                  <table class="table table-condensed table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="col-md-5"></th>
                        <th class="col-md-2"></th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                        <th class="col-md-2"></th>
                      </tr>        
                    </thead>

                    <% MenuItem.where(cat: s.cat, subcat: w.subcat).find_each do |t| %>

                    <tbody>

                      <p>
                        <tr>
                          <td><%= t.item_code %></td>
                          <td class="col-md-6"><%= t.name %></td>

                          <%= form_for (@order), remote: true do |f| %>
                          <%= f.hidden_field :cat, :value => t.cat %>
                          <%= f.hidden_field :item_code, :value => t.item_code %>
                          <%= f.hidden_field :meal, :value => t.name %>

                          <!-- DROP DOWN MENU FOR SUB-CATEGORY STARTS -->
                          <td>
                            <% if t.subcat == "Mee, Beehoon, Kwayteow, Maggie" %>
                            <%= f.select(:subcat, options_for_select([['Mee', 'Mee'], ['Beehoon', 'Beehoon'], ['Kwayteow', 'Kwayteow'], ['Maggie', 'Maggie']]), {class: "form-control"}) %>
                            <%= f.hidden_field :unit_price, :value => t.price %>


                            <% else if t.subcat == "Steam Rice (Chicken, Beef, Slice Fish, Cuttlefish, Prawn)" %>
                            <%= f.select(:subcat, options_for_select([['Chicken', 'Steam Rice (Chicken)'], ['Beef', 'Steam Rice (Beef)'], ['Slice Fish', 'Steam Rice (Slice Fish)'], ['Cuttle Fish', 'Steam Rice (Cuttle Fish)'], ['Prawn', 'Steam Rice (Prawn)']]), {class: "form-control"}) %>
                            <%= f.hidden_field :unit_price, :value => t.price %>

                            <% else if t.name == "Tandoori Chicken" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Medium ($10.00)', '10.00'], ['Large ($18.00)', '18.00']]), {class: "form-control"}) %>

                            <% else if t.name == "Mixed Chicken Plater" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Small ($10.00)', '10.00'], ['Medium ($15.00)', '15.00'], ['Large ($20.00)', '20.00']]), {class: "form-control"}) %>

                            <% else if t.name == "Chicken Tikka" || t.name == "Chicken Hariyall" || t.name == "Chicken Reshmi Kebab" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Small ($6.00)', '6.00'], ['Medium ($8.00)', '8.00'], ['Large ($10.00)', '10.00']]), {class: "form-control"}) %>     

                            <% else if t.name == "Chicken Iranian Kebab" || t.name == "Seekh Kebab" || t.name == "Panner Tikka" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Small ($8.00)', '8.00'], ['Medium ($10.00)', '10.00'], ['Large ($12.00)', '12.00']]), {class: "form-control"}) %>  

                            <% else if t.name == "Fish Tikka" || t.name == "Fish Hariyall" || t.name == "Fish Reshmi" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Small ($10.00)', '10.00'], ['Medium ($16.00)', '16.00'], ['Large ($20.00)', '20.00']]), {class: "form-control"}) %>  

                            <% else if t.name == "Mix Fish Plater" %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.select(:unit_price, options_for_select([['Small ($15.00)', '15.00'], ['Medium ($20.00)', '20.00'], ['Large ($26.00)', '26.00']]), {class: "form-control"}) %>  

                            <% else %>
                            <%= f.hidden_field :subcat, :value => "-" %>
                            <%= f.hidden_field :unit_price, :value => t.price %>

                            <% end %><% end %><% end %><% end %><% end %><% end %><% end %><% end %>

                          </td>     
                          <!-- DROP DOWN INPUT FOR SUB-CATEGORY ENDS -->
                          
                          <td><%= number_to_currency(t.price) %></td>

                          <td class="col-md-1"><%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %></td>
                          <td class="col-md-2"><%= f.submit "Order", class: "btn btn-primary" %></td>
                          <% end %>
                        </tr>

                      </p>

                    </tbody>

                    <% end %>

                  </table>
                </div>
                <% end %>
            </div>
            </div>
          </ul>

        <% end %>
      </div>


      <!-- SIDE NAV -->
      <div id="scroller">
        <div class="col-md-2">
          <ul class="list-group">
            <a class="list-group-item" href="#Western" id="Western" onclick="$('html,body').animate({scrollTop:88},'slow');return false;">Western</a> 
            <a class="list-group-item" href="#Drinks" id="Drinks" onclick="$('html,body').animate({scrollTop:4468},'slow');return false;">Drinks</a>  
            <a class="list-group-item" href="#Thai" id="Thai" onclick="$('html,body').animate({scrollTop:9755},'slow');return false;">Thai</a>
            <a class="list-group-item" href="#Indian" id="Indian" onclick="$('html,body').animate({scrollTop:15715},'slow');return false;">Indian</a>
            <a class="list-group-item" href="#Top" id="backToTop" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">Back to Top</a>      

          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
