<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <%= render 'layouts/header' %>

    <!-- CONTENT -->

    <h1>Menu</h1>
    <%= link_to "Back to channel", current_channel_path %>

    <div class="container">

      <% @menu_items.find_each do |s| %>
      <h2><%= s.cat %></h2>
      <% MenuItem.where(cat: s.cat).group(:subcat).find_each do |w| %>
      <h4><%= w.subcat %></h4>
      <table class="table table-striped">


        <thead>
          <tr>
            <th>Item code</th>
            <th>Name</th>
            <th>Price</th>
          </tr>        
        </thead>

        <tbody>

          <% MenuItem.where(subcat: w.subcat).find_each do |t| %>
          <p>
            <tr>
              <td><%= t.item_code %></td>
              <td><%= t.name %></td>
              <td><%= number_to_currency(t.price) %></td>

              <%= form_for (@order), remote: true do |f| %>
              <%= f.hidden_field :menu_item_id, :value => t.id %> 
              <%= f.hidden_field :cat, :value => t.cat %>
              <%= f.hidden_field :item_code, :value => t.item_code %>
              <%= f.hidden_field :meal, :value => t.name %>

              <!-- DROP DOWN MENU FOR SUB-CATEGORY STARTS -->
              <td>
                <% if t.subcat == "Mee, Beehoon, Kwayteow, Maggie" %>
                <%= f.select(:subcat, options_for_select([['Mee', 'Mee'], ['Beehoon', 'Beehon'], ['Kwayteow', 'Kwayteow'], ['Maggie', 'Maggie']]), {class: "form-control"}) %>
                <%= f.hidden_field :unit_price, :value => t.price %>


                <% else if t.subcat == "Steam Rice (Chicken, Beef, Slice Fish, Cuttlefish, Prawn)" %>
                <%= f.select(:subcat, options_for_select([['Chicken', 'Steam Rice (Chicken)'], ['Beef', 'Steam Rice (Beef)'], ['Slice Fish', 'Steam Rice (Slice Fish)'], ['Cuttle Fish', 'Steam Rice (Cuttle Fish)'], ['Prawn', 'Steam Rice (Prawn)']]), {class: "form-control"}) %>
                <%= f.hidden_field :unit_price, :value => t.price %>

                <% else if t.name == "Tandoori Chicken" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Medium ($10.00)', '10.00'], ['Large ($18.00)', '18.00']]), {class: "form-control"}) %>

                <% else if t.name == "Mixed Chicken Plater" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Small ($10.00)', '10.00'], ['Medium ($15.00)', '15.00'], ['Large ($20.00)', '20.00']]), {class: "form-control"}) %>

                <% else if t.name == "Chicken Tikka" || t.name == "Chicken Hariyall" || t.name == "Chicken Reshmi Kebab" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Small ($6.00)', '6.00'], ['Medium ($8.00)', '8.00'], ['Large ($10.00)', '10.00']]), {class: "form-control"}) %>                          
                <% else if t.name == "Chicken Iranian Kebab" || t.name == "Seekh Kebab" || t.name == "Panner Tikka" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Small ($8.00)', '8.00'], ['Medium ($10.00)', '10.00'], ['Large ($12.00)', '12.00']]), {class: "form-control"}) %>  

                <% else if t.name == "Fish Tikka" || t.name == "Fish Hariyall" || t.name == "Fish Reshmi" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Small ($10.00)', '10.00'], ['Medium ($16.00)', '16.00'], ['Large ($20.00)', '20.00']]), {class: "form-control"}) %>  

                <% else if t.name == "Mix Fish Plater" %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.select(:unit_price, options_for_select([['Small ($15.00)', '15.00'], ['Medium ($20.00)', '20.00'], ['Large ($26.00)', '26.00']]), {class: "form-control"}) %>  

                <% else %>
                <%= f.hidden_field :subcat, :value => t.subcat %>
                <%= f.hidden_field :unit_price, :value => t.price %>

                <% end %><% end %><% end %><% end %><% end %><% end %><% end %><% end %>


              </td>     
              <!-- DROP DOWN INPUT FOR SUB-CATEGORY ENDS -->

              <td><%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %></td>
              <td><%= f.submit "Order", class: "btn btn-primary" %></td>
              <% end %>
            </tr>

          </p>
          <% end %>

        </tbody>

        </div>

      </table>
    <% end %>
    <% end %>
    </div>
  </body>
</html>