<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>

  <body>
    <h1>Menu</h1>
    <%= link_to "Back to channel", current_channel_path %>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Sub-category</th>
            <th>Item code</th>
            <th>Name</th>
            <th>Price</th>
          </tr>        
        </thead>
        <tbody>
          <% @menu_items.each do |t| %>
          <p>
            <tr>
              <td><%= t.cat %></td>
              <td><%= t.subcat %></td>
              <td><%= t.item_code %></td>
              <td><%= t.name %></td>
              <td><%= number_to_currency(t.price) %></td>

              <%= form_for (@order), remote: true do |f| %>
              <%= f.hidden_field :menu_item_id, :value => t.id %> 
              <%= f.hidden_field :cat, :value => t.cat %>
              <%= f.hidden_field :item_code, :value => t.item_code %>
              <%= f.hidden_field :meal, :value => t.name %>
              <%= f.hidden_field :unit_price, :value => t.price %>

              <!-- DROP DOWN MENU FOR SUB-CATEGORY STARTS -->
              <td>
                <% if t.subcat == "Mee, Beehoon, Kwayteow, Maggie" %>
                  <%= f.select(:subcat, options_for_select([['Mee', 'Mee'], ['Beehoon', 'Beehon'], ['Kwayteow', 'Kwayteow'], ['Maggie', 'Maggie']]), {class: "form-control"}) %>
                
                <% else if t.subcat == "Steam Rice (Chicken, Beef, Slice Fish, Cuttlefish, Prawn)" %>
                  <%= f.select(:subcat, options_for_select([['Chicken', 'Steam Rice (Chicken)'], ['Beef', 'Steam Rice (Beef)'], ['Slice Fish', 'Steam Rice (Slice Fish)'], ['Cuttle Fish', 'Steam Rice (Cuttle Fish)'], ['Prawn', 'Steam Rice (Prawn)']]), {class: "form-control"}) %>
                <% else if t.subcat == "Fried Rice"%>
                  <%= f.hidden_field :subcat, :value => t.subcat %>
                <% else %>
                  <%= f.hidden_field :subcat, :value => t.subcat %>

                  <% end %><% end %>
                <% end %>
              </td>     
              <!-- DROP DOWN INPUT FOR SUB-CATEGORY ENDS -->


              <td><%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %></td>
              <td><%= f.submit "Order", class: "btn btn-primary" %></td>
              <% end %>
            </tr>
          </p>
          <% end %>

        </tbody>
        </div>
    </div>
  </body>