<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <h1>All Orders</h1>
      <p></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>  
            <th>Sub-Category</th>            
            <th>Item Code</th>
            <th>Unit Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @order.each do |t| %>
          <p>
            <tr>
              <td><%= t.meal %></td>
              <td><%= t.cat %></td>
              <td><%= t.subcat %></td>
              <td><%= t.item_code %></td>
              <td><%= number_to_currency(t.unit_price) %></td>
              <td><%= t.quantity %></td>
            </tr>
          </p>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>