
<% provide(:title, 'Add new item') %> 

<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <h1>Add new item</h1>
    <%= form_for(user.ameens_menus) do |f| %>

    <%= f.label :category %>
    <%= f.text_field :category, class: 'form-control' %>

    <%= f.label :subcat %>
    <%= f.text_field :subcat, class: 'form-control' %>

    <%= f.label :item_code %>
    <%= f.text_field :item_code, class: 'form-control' %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
    
    <%= f.hidden_field :user_id, value: "user_id" %>
    <%= hidden_field_tag :channel_id, :value => channel.id %>

    <%= f.submit "Add Item", class: "btn btn-primary" %>

    <% if joined_channel? %>
    <%= link_to "Quit Channel", exit_path %>
    <% end %>
    <% end %>
  </div>
</div>
