<p><%= link_to "Add new item", ameensadmin_path %></p>

<p>
  <span>Category</span>
  <span>Sub-category</span>
  <span>Item code</span>
  <span>Name</span>
  <span>Price</span>
</p>

<% @ameens_menu.each do |t| %>
  <p>
    <%= t.category %>
    <%= t.subcat %>
    <%= t.item_code %>
    <%= t.name %>
    <%= t.price %>
  </p>
<% end %>