<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <%= link_to "tamchiak", join_or_create_path, {class: "navbar-brand"} %>
        
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li><%= link_to "Home",   join_or_create_path %></li>
          <li class="active"><%= link_to "Current Channel",   current_channel_path %></li>
          <li><%= link_to "Your Channels",   all_channels_path %></li>
          <% if current_user.is_admin? %>
          <li><%= link_to "Admin", admin_path %></li>
          <% end %>
          <li><%= link_to "Settings",   settings_path %></li>
        </ul>

        <p class="navbar-text navbar-right">Signed in as <%= current_user.name %>.   <%= link_to "Sign out", logout_path %></p>
      </div>
    </div>
  </nav>
</header>